n8n/N8N_2025_08_08_Error_Workflow.json
{
  "name": "N8N 2025-08-08 Error Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "a49487d6-57b8-478a-92c0-48fe0536e753",
      "name": "Error Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        -100
      ],
      "id": "ac6e5d82-4f02-43fe-92be-38fa0d014eac",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C099B71SZJT",
          "mode": "list",
          "cachedResultName": "n8n-error-notification"
        },
        "text": "=Timestamp: {{ $now.format('dd-MM-yyyy hh:mma') }}\n\nWorkflow Error: {{ $workflow.name }}\n\nWorkflow Node: {{ $json.execution.lastNodeExecuted }}\n\nWorkflow URL: {{ $json.execution.url }}\n\nWorkflow Message: {{ $json.execution.error.message }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -80,
        100
      ],
      "id": "2f02b75b-5234-4130-b24d-845bff0fe343",
      "name": "Slack: Send a message",
      "webhookId": "3fcec3fe-c129-4171-966c-b16143b2274d",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "slackOAuth2Api": {
          "id": "H4e8faKtVTlLE0BC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Handling\n- this workflow can be triggered by any workflow that registered it in the workflow settings\n- In another step there might be an error tracking in a google sheet",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -200
      ],
      "typeVersion": 1,
      "id": "96661676-36a6-4526-8e29-5271d365d83f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Status quo\n#### Issues of this version\n- Authorization issue in google sheets node\n- The fields I would like to track are visible in the \"Excecutions\" mode but not in \"Editor\" mode (see Nate Herk tutorial)",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        20
      ],
      "typeVersion": 1,
      "id": "1eb16c73-2e5a-4f99-87ab-dd96c41f504d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        -100
      ],
      "id": "a8cfc76c-ce39-407d-907f-720580dc2496",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "content": "## Time Zone\n- Amsterdam (see Settings)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        280
      ],
      "typeVersion": 1,
      "id": "c1e83971-028c-4aae-8f1b-99305e18fa03",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack: Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "56eaef4f-b505-4893-b6a4-f04cd647d57a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "429d0d0c5f766d8efea4708b349cb495bdba0b7932ab34ea3ddb8769cf23ad73"
  },
  "id": "PHBBDPsaxUPQNwUx",
  "tags": []
}